about-time==4.2.1
alive-progress==3.1.5
annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.7
filelock==3.12.4
fsspec==2024.3.1
grapheme==0.6.0
huggingface-hub==0.22.0
idna==3.6
mysqlclient==2.2.4
packaging==24.0
platformdirs==3.10.0
pydantic==2.6.4
pydantic_core==2.16.3
PyYAML==6.0.1
requests==2.31.0
SQLAlchemy==2.0.29
SQLAlchemy-Utils==0.41.2
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1
